@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Rubik;
}

body {
  overflow: hidden;
}

$primary: hsl(0, 0%, 17%);
$secondary: hsl(0, 0%, 59%);

.primary {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding-top: 20px;
  position: relative;
  height: 37vh;

  h1 {
    font-weight: 500;
    margin-bottom: 20px;
    color: white;
    text-align: center;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -10;
  }
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 934px) {
    width: 80%;
  }

  input {
    padding: 13px 10px;
    font-size: 1.1em;
    width: 35%;
    border-radius: 0.7em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
    outline: none;
    @media screen and (max-width: 934px) {
      width: 100%;
      font-size: 1em;
    }
  }

  button {
    width: 4%;
    min-width: 40px;
    border: none;
    background-color: $primary;
    border-top-right-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: $secondary;
    }
  }
}

.datas {
  position: absolute;
  bottom: -80px;
  border-radius: 1em;
  background-color: white;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65%;
  z-index: 999;
  max-width: 900px;
  gap: 30px;
  width: 90%;

  @media screen and (max-width: 606px) {
    flex-direction: column;
    height: auto;
    justify-content: center;
    width: 80%;
    padding: 20px;
    bottom: -170px;
    gap: 10px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 225px;
  }

  &__divider {
    height: 70px;
    background: $secondary;
    padding: 0.5px;
    @media screen and (max-width: 606px) {
      display: none;
    }
  }
}

.title {
  font-weight: 700;
  font-size: 0.8em;
  color: $secondary;

  @media screen and (max-width: 934px) {
    text-align: center;
  }
}

.fetch {
  font-size: 1.5em;
  strong {
    font-weight: 500;
  }

  @media screen and (max-width: 934px) {
    text-align: center;
    font-size: 1em;
  }
}

#map {
  height: 63vh;
}

#error {
  color: hsl(0, 100%, 63%);
  margin-top: 10px;
  text-align: center;
  width: 90%;
}
